:root {
  /* BASE COLORS */
  --base-a: hsl(0, 0%, 5%);
  --base-b: hsl(0, 0%, 10%);
  --base-c: hsl(0, 0%, 15%);
  --base-d: hsl(0, 0%, 20%);
  /* TEXT COLORS */
  --text-a: hsl(0, 0%, 95%);
  --text-b: hsl(0, 0%, 90%);
  --text-c: hsl(0, 0%, 85%);
  --text-d: hsl(0, 0%, 80%);
  /* SPECIAL COLORS */
  --hoverable: hsl(180, 80%, 20%);
  --hoverable-hovered: hsl(180, 80%, 30%);
  --clickable: hsl(300, 80%, 20%);
  --clickable-hovered: hsl(300, 80%, 30%);
}

[data-theme=light] {
  /* BASE COLORS */
  --base-a: hsl(0, 0%, 95%);
  --base-b: hsl(0, 0%, 90%);
  --base-c: hsl(0, 0%, 85%);
  --base-d: hsl(0, 0%, 80%);
  /* TEXT COLORS */
  --text-a: hsl(0, 0%, 5%);
  --text-b: hsl(0, 0%, 10%);
  --text-c: hsl(0, 0%, 15%);
  --text-d: hsl(0, 0%, 20%);
}

[data-theme=red] {
  /* BASE COLORS */
  --base-a: hsl(0, 0%, 5%);
  --base-b: hsl(0, 0%, 10%);
  --base-c: hsl(0, 0%, 15%);
  --base-d: hsl(0, 0%, 20%);
  /* TEXT COLORS */
  --text-a: hsl(0, 100%, 35%);
  --text-b: hsl(0, 100%, 30%);
  --text-c: hsl(0, 100%, 25%);
  --text-d: hsl(0, 100%, 20%);
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-flex;
  border: 1px solid var(--text-a);
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  overflow: hidden;
  height: 100vh;
  font-size: 1.2vw;
}

#left-column {
  width: 25vw;
  background-color: var(--base-b);
  padding: 0.8vw;
  color: var(--text-d);
  overflow: auto;
}
#left-column h1 {
  color: var(--text-b);
}
#left-column h2 {
  color: var(--text-c);
}
#left-column .leftbar-itmebox {
  background-color: var(--base-a);
  border-color: var(--text-d);
  padding: 0.4vw;
  margin-bottom: 0.4vw;
}

#right-column {
  width: 75vw;
  background-color: var(--base-a);
  padding-top: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  color: var(--text-c);
  overflow: auto;
}
#right-column h1 {
  text-align: center;
  color: var(--text-a);
}
#right-column h2 {
  color: var(--text-b);
}
#right-column h2::after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 1px solid var(--text-d);
  /* margin: .5em 0; */
  margin: 0px;
}
#right-column ul {
  list-style-type: square;
}
#right-column ul ul {
  list-style-type: disc;
}
#right-column footer {
  text-align: center;
  color: var(--base-d);
}

.hoverable {
  color: var(--hoverable);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
.hoverable:hover {
  color: var(--hoverable-hovered);
}
.hoverable .info-card {
  visibility: hidden;
  opacity: 0;
  width: 25vw;
  background-color: var(--base-d);
  color: var(--text-a);
  border-radius: 3px;
  padding: 1vw;
  position: absolute;
  top: 2vmin;
  right: 2vmin;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}
.hoverable:hover .info-card {
  visibility: visible;
  opacity: 0.95;
}

.clickable {
  color: var(--clickable);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}
.clickable:hover {
  color: var(--clickable-hovered);
}
